<%- include('./partials/header.ejs') %>
    <!-- Page Information -->
    <div id="homePageText" class="font">
        <p1>
            This is a website created by Cameron Deering for ITIS 4166.<br><br>
            This site can be used to create connections for upcoming events for the Culinary Club at UNCC.<br><br>
            Check out the Connections section to browse available connections!
        </p1>
    </div>
<%- include('./partials/footer.ejs') %>