<%- include('./partials/header.ejs') %>
    <!-- Page Information -->
    <div id="homePageText" class="font">
        <p1>
            Contact Us<br><br>
            <a href='https://discord.gg/zNcqqqen6v'>Join our Discord</a><br><br>
            <a href='mailto:culinaryclubatunccharlotte@gmail.com'>Email Us</a><br><br>
            <a href='https://www.instagram.com/culinaryclubuncc/'>Follow our Instagram</a>
        </p1>
    </div>
<%- include('./partials/footer.ejs') %>