<%- include('./partials/header.ejs') %>
    <!-- Page Information -->
    <div id="homePageText" class="font">
        <p1>
            <h3><%= error.status %> Error</h3> 
            <p><%= error.message %></p>
        </p1>
    </div>
<%- include('./partials/footer.ejs') %>