<%- include('./partials/header.ejs') %>
    <!-- Page Information -->
    <div id="homePageText" class="font">
        <p1>
            Welcome to the UNCC Culinary Club Website.<br><br>
            Attend and create Culinary Club events to connect with other members. Whether you are looking to cook with friends, share food/recipes or just make friends this is the place for you.<br><br>
            Check out the Connections section to browse available connections!
        </p1>
    </div>
<%- include('./partials/footer.ejs') %>