<div id="footerPlaceHolder"></div>
        <!-- Page Footer -->
        <footer>
            <!-- General Site Navigation Footer -->
            <nav>
                <ul id="genSiteNavFooter" class="font">
                    <li id="genNavElementFooter"><a href="/about">ABOUT</a></li>
                    <li id="genNavElementFooter"><a href="/contact">CONTACT</a></li>
                    <li id="genNavElementFooterRight"><a href="https://discord.gg/zNcqqqen6v"><img id="discord" src="/images/discord.png"></a></li>
                </ul>
            </nav> 
        </footer>
    </body>
</html>